.form__button {
    background-color: #007383;
    color: #ffffff;
    padding: 10px;
    border-color: #ffffff;
    margin: 20px;
}

.form__button:active {
    background-color: #018a9c;
    border-color: #000000;
}

.tasks__button {
    color: #ffffff;
    border-color: #ffffff;
    margin: 0 8px 8px 8px;
}

.tasks__button--done {
    background-color: #1a7b1f;
    border-color: #ffffff;
    color: #ffffff;
    width: 30px;
    height: 30px;
    align-items: center;
}

.tasks__button--done:hover {
    background-color: #24922a;
}

.tasks__button--done:active {
    background-color: #2c9e31;
}

.tasks__button--remove {
    background-color: #ed293c;
    color: #ffffff;
    padding-top: 2px;
    padding-left: 9px;
    width: 30px;
    height: 30px;
    align-items: center;
}

.tasks__button--remove:hover {
    background-color: #f8394c;
}

.tasks__button--remove:active {
    background-color: #ff3d51;
}